<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>RestApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>

<!--headbar-->
<div>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid">
            <div id="AuthUserEmail">
            </div>
            <div>
                <a th:href="@{/logout}">Logout</a>
            </div>

        </div>
    </nav>
</div>
<!--headbar-->
<div class="row">

    <div class="col-2">
        <div class="ms-1">
            <div class="nav flex-column nav-pills me-1" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" id="v-pills-home-tab"
                   data-bs-toggle="pill"
                   href="#adminPanelButton" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a
                        th:class="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'nav-link' : 'nav-link active'"
                        th:attr="aria-selected=${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'false' : 'true'"
                        id="v-pills-profile-tab" data-bs-toggle="pill" href="#userPanelButton" role="tab"
                        aria-controls="v-pills-profile">User's page</a>
            </div>
        </div>
    </div>

    <div class="col-10">
        <div class="me-3">
            <div class="tab-content" id="v-pills-tabContent">
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="tab-pane fade show active" id="adminPanelButton"
                     role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h2>ADMIN PANEL</h2>
                    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="UsersTable" data-bs-toggle="tab" href="#nav-usertable" role="tab"
                           aria-controls="nav-usertable" aria-selected="true" onclick="refreshTable()">Users table</a>
                        <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                           aria-controls="nav-profile" aria-selected="false" onclick="showNewRoles()">New user</a>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-usertable" role="tabpanel"
                             aria-labelledby="UsersTable">

                            <!--                    Таблица юзеров на админке-->
                            <div class="card">
                                <div class="card-header">
                                    <h3>All users</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Roles</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableUsers">

                                        </tbody>
                                    </table>
                                </div>

                                <!--MODAL EDIT-->
                                <div class="modal fade" id="editModal" tabindex="-1"
                                     aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <form id="editForm">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="editId">ID</label>
                                                        <input type="text" readonly class="form-control" id="editId"
                                                               name="id" value="id"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="editName">First name</label>
                                                        <input type="text" class="form-control" id="editName"
                                                               name="name" value="name"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="editEmail">Email</label>
                                                        <input type="email" class="form-control" id="editEmail"
                                                               name="email" value="email" required/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="editPassword">Password</label>
                                                        <input type="password" class="form-control"
                                                               id="editPassword"
                                                               name="password" value="password" required/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="editRoles">Role</label>
                                                        <select multiple class="form-control"
                                                                id="editRoles" name="roles" value="roles">
                                                        </select>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary"
                                                        onclick="editUser()">Edit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                    <!--                        Модалка DELETE-->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                         aria-labelledby="ModalDeleteLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content font-weight-bold">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                    <button type="button" class="close" data-bdismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="deleteForm">
                                    <div class="row justify-content-center">
                                        <div class="col-6 fw-bolder">
                                            <div class="modal-body text-center">

                                                <div class="form-group">
                                                    <label for="deleteId">ID</label>
                                                    <input type="text" disabled class="form-control"
                                                           id="deleteId"
                                                           value="id" name="id">
                                                </div>
                                                <div class="form-group">
                                                    <label for="deleteName">Name</label>
                                                    <input type="text" disabled class="form-control"
                                                           id="deleteName"
                                                           value="name" name="name"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="deleteEmail">Email</label>
                                                    <input type="text" disabled class="form-control"
                                                           id="deleteEmail"
                                                           value="email" name="email"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="deleteRoles">Role</label>
                                                    <select multiple class="form-control"
                                                            id="deleteRoles" name="roles" value="roles"
                                                            readonly="true">
                                                    </select>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-danger"
                                                            onclick="deleteUser()">Delete
                                                    </button>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--                        Модалка DELETE-->

            <!--            Форма создания нового юзера-->
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="border bg-light">
                    <h5 class="p-2">New User</h5>
                </div>
                <div class="p-4 bg-white">
                    <div class="bg-white d-flex justify-content-center text-center font-weight-bold">
                        <form id="newUserForm">
                            <div class="form-group">
                                <label for="newName">Name</label>
                                <input type="text" class="form-control" name="name"
                                       id="newName" placeholder="Name">
                            </div>
                            <div class="form-group was-validated">
                                <label for="newEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="newEmail"
                                       name="email"
                                       placeholder="name@example.com" required>
                            </div>
                            <div class="form-group text-center was-validated">
                                <label for="newPassword">Password</label>
                                <input type="password" class="form-control is-invalid"
                                       id="newPassword" name="password" placeholder="Password" required>
                            </div>
                            <div class="form-group text-center">
                                <label for="newRoles">Role</label>
                                <select multiple class="form-control"
                                        id="newRoles" name="roles_id" value="roles_id">
                                </select>
                            </div>
                            <div class="col text-center">
                                <button type="submit" data-toggle="tab"
                                        class="btn btn-success">
                                    <!-- data-toggle="tab"-->
                                    Add user
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--            Форма создания нового юзера-->

    </div>

    <!--                Информация о юзере-->
    <div th:class="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'tab-pane fade' : 'tab-pane fade show active'"
         id="userPanelButton"
         role="tabpanel"
         aria-labelledby="v-pills-profile-tab">
        <h2>User Information Page</h2>
        <div class="card">
            <div class="card-header">
                <h6>About User</h6>
            </div>
            <div class="card-body">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Roles</th>
                    </tr>
                    </thead>
                    <tbody id="userInformation">

                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
<!--                Информация о юзере-->
</div>
</div>
</div>


<script src="/AuthInfo.js"></script>
<script src="/table.js"></script>
<script src="/newUser.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

<script>
    $(".nav li").on("click", function () {
        $(".nav li").remove("active");
        $(this).addClass("active");
    });
</script>

<script>
    $(".nav-link li").on("click", function () {
        $(".nav-link li").remove("active");
        $(this).addClass("active");
    });
</script>
<script>
    $('#editModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let id = button.data('whatever');
        showEditModal(id);
    })
</script>
<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let id = button.data('whatever');
        console.log(id);
        showDeleteModal(id);
    })
</script>

</body>
</html>